<div class="wrapper">
  <!-- header -->
  <div fxLayout="column"
    fxLayoutAlign="center center" class="header">
    <h4 fxFlex>ABC Garments Ltd.</h4>
    <h4 fxFlex>Ashulia, Savar</h4>
    <h4 fxFlex>Operator Skill Assesment Sheet</h4>
  </div>
  <!-- header end -->

  <!-- form -->
  <mat-card class="mat-elevation-z6 form-card">
    <form fxLayout="row"
      fxLayout.lt-md="column"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      novalidate>

      <div fxFlex
        fxLayout="column"
        class="has-padding">

        <!-- tracking no. -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Tracking No.</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field appearance="fill" class="w-100">
              <input matInput
                formControlName="trackingNo"
                placeholder="e.g: 123">
            </mat-form-field>
          </div>
        </div>

        <!-- name -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Name</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field appearance="fill" class="w-100">
              <input matInput
                formControlName="name"
                placeholder="e.g: John Doe">
            </mat-form-field>
          </div>
        </div>

        <!-- date of birth -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>DOB</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <input matInput
                [matDatepicker]="picker"
                (dateInput)="onDateOfBirthChage($event)"
                formControlName="dob"
                placeholder="e.g: 01-Jan-1900">
              <mat-datepicker-toggle matSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- age -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Age</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field appearance="fill" class="w-100">
              <input matInput
                formControlName="age"
                placeholder="e.g: 22">
            </mat-form-field>
          </div>
        </div>

        <!-- education -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Education</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <mat-select formControlName="education">
                <mat-option *ngFor="let education of educationTypes"
                  [value]="education.value">
                  {{education.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


      </div>
      <div fxFlex
        fxLayout="column"
        class="has-padding">

        <!-- assesment date -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Assesment Date</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <input matInput
                [matDatepicker]="pickerAssesmentDate"
                formControlName="assesmentDate"
                placeholder="e.g: 01-Jan-1900">
              <mat-datepicker-toggle matSuffix
                [for]="pickerAssesmentDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerAssesmentDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- join date -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Join Date</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <input matInput
                [matDatepicker]="pickerJoinDate"
                formControlName="joinDate"
                placeholder="e.g: 01-Jan-1900">
              <mat-datepicker-toggle matSuffix
                [for]="pickerJoinDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerJoinDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- department -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Department</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <mat-select formControlName="department">
                <mat-option *ngFor="let department of departments"
                  [value]="department.value">
                  {{department.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- unit -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Unit</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field class="w-100">
              <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of units"
                  [value]="unit.value">
                  {{unit.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- finger id -->
        <div fxFlex
          fxLayout="row">
          <div fxFlex="110px"
            fxLayoutAlign="start center">
            <mat-label>Finger ID</mat-label>
          </div>
          <div fxFlex
            fxLayoutAlign="center center">
            <mat-form-field appearance="fill" class="w-100">
              <input matInput
                formControlName="fingerId"
                placeholder="e.g: 123">
            </mat-form-field>
          </div>
        </div>


      </div>
      <div fxFlex="20"
        fxLayout="column"
        class="has-padding">
        <div fxFlex><img src="https://place-hold.it/200x200"
            alt=""
            class="img-fluid"></div>
        <div fxFlex>
          <button mat-raised-button> Test Form Submit </button>
        </div>
      </div>
    </form>
  </mat-card>
  <!-- form end -->
</div>